<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <p>Hello {{request.session.f_name}}</p>
      <a href="/friends/viewfriends">Friend List</a>
      <a href="/friends/findfriend">Add Friend</a>
      <a href="/logout">Logout</a>
    </header>
    <h3>Users</h3>
    <table>
      {%load humanize%}
      {% for user in users %}

      <tr>
        <td>{{user.f_name}} {{user.l_name}}</td>
        <td><a href="/friends/addfriend/{{user.id}}">Add</a></td>
      </tr>

      {%endfor%}
    </table>

  </body>
</html>
